streamlit==1.39.0
rich>=10.14.0,<14
pillow==10.0.1
numpy==1.26.0
opencv-python-headless==4.8.1.78
mediapipe==0.10.21
backgroundremover==0.2.6
onnxruntime==1.17.0
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2
